In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.DataFrame({
    'age': [25, 32, 47, 51, 62],
    'salary': [50000, 60000, 80000, 120000, 150000]
})
df

   age  salary
0   25   50000
1   32   60000
2   47   80000
3   51  120000
4   62  150000

In [3]:
scaler = StandardScaler()

In [4]:
scaled_data = scaler.fit_transform(df)
scaled_data

array([[-1.38287244, -1.11613741],
       [-0.85677967, -0.85039041],
       [ 0.270562  , -0.3188964 ],
       [ 0.57118644,  0.7440916 ],
       [ 1.39790367,  1.54133261]])

In [5]:
df['age_scaled'] = scaled_data[:,0]
df['salary_scaled'] = scaled_data[:,1]

In [6]:
print(df)
print(scaler.mean_)
print(scaler.scale_)

   age  salary  age_scaled  salary_scaled
0   25   50000   -1.382872      -1.116137
1   32   60000   -0.856780      -0.850390
2   47   80000    0.270562      -0.318896
3   51  120000    0.571186       0.744092
4   62  150000    1.397904       1.541333
[4.34e+01 9.20e+04]
[1.33056379e+01 3.76297754e+04]

In [7]:
# minmax scaler
df = pd.DataFrame({
    'age': [18, 25, 40, 60, 80],
    'salary': [20000, 35000, 50000, 80000, 100000]
})
df

   age  salary
0   18   20000
1   25   35000
2   40   50000
3   60   80000
4   80  100000

In [8]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
scaled

array([[0.        , 0.        ],
       [0.11290323, 0.1875    ],
       [0.35483871, 0.375     ],
       [0.67741935, 0.75      ],
       [1.        , 1.        ]])

In [9]:
df['age_scaled'] = scaled[:,0]
df['salary_scaled'] = scaled[:,1]

In [10]:
print(df)
print(scaler.data_min_)
print(scaler.data_max_)
print(scaler.data_range_)

   age  salary  age_scaled  salary_scaled
0   18   20000    0.000000         0.0000
1   25   35000    0.112903         0.1875
2   40   50000    0.354839         0.3750
3   60   80000    0.677419         0.7500
4   80  100000    1.000000         1.0000
[1.8e+01 2.0e+04]
[8.e+01 1.e+05]
[6.2e+01 8.0e+04]