In [1]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

In [3]:
data =  {
    'Age': [25, np.nan, 30, 35, np.nan],
    'Salary': [50000, 60000, np.nan, 80000, 90000],
    'City': ['Mumbai', 'Delhi', np.nan, 'Delhi', 'Mumbai']
}
df = pd.DataFrame(data)

In [10]:
num_imputer = SimpleImputer(strategy='mean')
num_imputer.fit(df[['Age', 'Salary']])
df[['Age', 'Salary']] = num_imputer.transform(df[['Age', 'Salary']])
df

    Age   Salary    City
0  25.0  50000.0  Mumbai
1  30.0  60000.0   Delhi
2  30.0  70000.0     NaN
3  35.0  80000.0   Delhi
4  30.0  90000.0  Mumbai

In [13]:
cat_imputer = SimpleImputer(strategy='most_frequent')
df[['City']] = cat_imputer.fit_transform(df[['City']])
print(df)

    Age   Salary    City
0  25.0  50000.0  Mumbai
1  30.0  60000.0   Delhi
2  30.0  70000.0   Delhi
3  35.0  80000.0   Delhi
4  30.0  90000.0  Mumbai